<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourapp.companion" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MindEase</name>
    <description>Your personal AI for mental well-being.</description>
    <author email="dhanushreddys370@gmail.com" href="https://cordova.apache.org">
        CodeBloodded
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>