@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 16% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 16% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 16% 24%;
    --primary: 258 100% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 134 27% 73%;
    --secondary-foreground: 210 16% 24%;
    --muted: 210 20% 96%;
    --muted-foreground: 210 16% 46%;
    --accent: 200 25% 74%;
    --accent-foreground: 210 16% 24%;
    --destructive: 25 100% 87%;
    --destructive-foreground: 210 16% 24%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 258 100% 69%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 20% 12%;
    --foreground: 210 20% 98%;
    --card: 210 20% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 210 20% 15%;
    --popover-foreground: 210 20% 98%;
    --primary: 258 100% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 134 27% 73%;
    --secondary-foreground: 210 20% 12%;
    --muted: 210 20% 20%;
    --muted-foreground: 210 20% 65%;
    --accent: 200 25% 74%;
    --accent-foreground: 210 20% 12%;
    --destructive: 25 100% 87%;
    --destructive-foreground: 210 20% 12%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 258 100% 69%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
